.svg-wrapper {
    height: 60px;
    margin: 0 auto;
    margin-top: 1em;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: 320px;
}

.svg-wrapper:hover {
  cursor: pointer;
}

.shape {
    fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    stroke: #b2858b;
}

.text {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    letter-spacing: 5px;
    line-height: 25px;
    position: relative;
    top: -48px;
}

@keyframes draw {
    0% {
        stroke-dasharray: 140 540;
        stroke-dashoffset: -474;
        stroke-width: 8px;
    }
    100% {
        stroke-dasharray: 760;
        stroke-dashoffset: 0;
        stroke-width: 2px;
    }
}

.svg-wrapper:hover .shape {
    -webkit-animation: 0.5s draw linear forwards;
    animation: 0.2s draw linear forwards;
}
